
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary();
        <p><label for="userName">UserName:</label><input id="userName" type="text" name="userName" /></p>
        <p><label for="password">Password:</label><input id="password" name="password" type="password" /></p>
        <input type="submit" value="Login" />
    }
</body>
</html>
