@model System.Int32
@{
    ViewBag.Title = "Home Page";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css"/>
    <title>Index</title>
</head>
<body>
<h2 class="message">@ViewBag["Message"]</h2>
<p>The calculation result value is : @Model</p>
</body>
</html>