@model HelperMethods.Models.Person

@{
    ViewBag.Title = "CreatePerson";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Html.EnableClientValidation(false);
}

<h2>CreatePerson</h2>
<div class="dataElem">
    <label>Person Id</label>
    <input name="personId" value="@Model.PersonId" />
</div>
<div class="dataElem">
    <label>First Name</label>
    <input name="FirstName" value="@Model.FirstName" />
</div>
<div class="dataElem">
    <label>Last Name</label>
    <input name="LastName" value="@Model.LastName" />
</div>
<div>
    <input type="submit" value="Submit" />
</div>


