
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateEmployye</title>
</head>
<body>
    <div>
        <form action="/Employee/SaveEmployee" method="post">
            First Name : <input type="text" id="TxtFName" name="FirstName" value="" placeholder="First Name" /><br />
            Last Name  : <input type="text" id="TxtLName" name="LastName" value="" placeholder="Last Name" /><br />
            Salary : <input type="text" id="TxtSalary" name="Salary" value="" /><br />
            <input type="submit" name="BtnSave" value="Save Employee" />
            <input type="reset" name="BtnReset" value="Reset" />
        </form>
    </div>
</body>
</html>
