@model ModelValidation.Models.Appointment

@{
    ViewBag.Title = "Completed";
}

<h4>Your appointment is confirmed</h4>
<p>Your name is : <b>@Html.DisplayFor(item => item.ClientName)</b></p>
<p>Your date of your appointment is : <b>@Html.DisplayFor(item => item.Date)</b></p>


