@using WebApplication.ViewModels
@model EmployeeListViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyView</title>
</head>
<body>
    <div>
        <table>
            <tr>
                <th>Employee Name</th>
                <th>Salary</th>
            </tr>
            @*<b>
                    Employee Details<br />
                </b>*@
            @foreach (var employee in Model.Employees)
            {
                <tr>
                    <td><em>@employee.EmployeeName</em></td>
                    <td>
                        <span style="background-color:@employee.SalaryColor">
                            <em> @employee.Salary<br /></em>
                        </span>
                    </td>
                </tr>
            }
        </table>
        @*<h1>Welcome to MVC 5.0 Step by Step learning.</h1>*@
    </div>
</body>
</html>
